$trans: transparent;

$black1: #000000;
$black2: #383538;
$black3: #4c4c4c;

$white: #ffffff;

$red1: #ff3737;


$grey1:  #c8c8c8;
$grey2:  #787878;

$golden: #9A6634;
$golden1: #C1954D;

$orange1: #ff9900;

$yellow1: #ffff00;

$green1: #00ff00;

$blue0: #0C1B90;
$blue1: #263ED9;
$blue3: #0089e0;
$blue8: #97C6F4;
$blue9: #C1D0EC;
$blue10: #F4F5F8;




$purple1: #ff00ff;
$purple2: #993366;
$purple3: #6666ff;

$brown1: #996633;
