$trans: transparent;

$black1: #000000;
$black2: #383538;
$black3: #4c4c4c;

$white: #ffffff;

$red1: #ff3737;


$grey1:  #c8c8c8;




$orange1: #ff9900;

$yellow1: #ffff00;


$green1: #00ff00;

$blue1:  #106ACD;


$purple1: #ff00ff;
$purple2: #993366;
$purple3: #6666ff;

$brown1: #996633;
