@import "colors";

body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background-color: $blue10;
}

#header {
  width: 100%;
  background-color: $blue0;
  border-bottom: 3px solid $golden;

  #header_content {
    margin: 0 auto 0 auto;
    width: 1000px;
    height: 130px;
    position: relative;

    #logo{
      width: 375px;
      height: 100%;
      float: left;
      img{
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    #header_right_content{
      width: 600px;
      height: 100%;
      border: 1px solid white;
      float: right;

    }
  }


}

#main_body {
  height: auto;
  width: 100%;


  #main_content {
    width: 1000px;
    margin: auto;
    margin-top: 0;
    padding: 0;
    height: auto;

    #left_content {
      width: 75%;
      float: left;
      margin-top: 10px;
    }

    #right_content {
      margin-top: 10px;
      width: 23%;
      background-color: $blue10;
      float: right;
    }

  }
}

#footer {
  width: 100%;
  margin-top: 10px;
  background-color: $blue0;
  border-top: 3px solid $golden;
  height: 150px;
  position: absolute;
  bottom: 0;

  #footer_content {
    width: 1000px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    color: $golden;
  }
}

.round_corner_box {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid $grey1;
  -moz-box-shadow: 2px 2px 2px #CCC;
  -webkit-box-shadow: 2px 2px 2px #CCC;
  box-shadow: 2px 2px 2px #CCC;
}

.clear {
  clear: both;
}

