@import "admin/css/colors";

/*---  Sorted Table ---*/
#tiny_table_wrapper {
   width: 99%;

  a{
   text-decoration: none;
    color: $blue4;
  }

  #tableheader {
    height: 55px
  }
  .search {
    float: left;
    padding: 6px;
    border: 1px solid $blue9;
    background: $white
  }
  #tableheader select {
    float: left;
    font-size: 12px;
    width: 125px;
    padding: 2px 4px 4px
  }
  #tableheader input {
    float: left;
    font-size: 12px;
    width: 225px;
    padding: 2px 4px 4px;
    margin-left: 4px
  }
  .details {
    float: right;
    padding-top: 12px
  }
  .details div {
    float: left;
    margin-left: 15px;
    font-size: 12px
  }

  .tinytable {
    font: 12px Verdana, Arial;
    width: 100%;
    border-left: 1px solid $blue9;
    border-top: 1px solid $blue9;
    border-bottom: none;
    margin: 0 auto 5px 0px;
  }
  .tinytable th {
    padding: 3px 1px 1px 1px;
    background-color:  $blue4;
    text-align: left;
    color: $white;
    border: 1px solid $white;
    border-right: none;
  }
  .tinytable th h3 {
    font-size: 10px;
    margin: 3px;
  }
  .tinytable td {
    padding: 4px 6px 6px;
    border-bottom: 1px solid $blue9;
    border-right: 1px solid $blue9;
    text-align: left;
  }
  .tinytable .head h3 {
    background: url(images/sort.gif) 5px no-repeat;
    cursor: pointer;
    padding-left: 18px
  }

  .tinytable .desc h3 {
    background: url(images/desc.gif) 5px no-repeat;
    cursor: pointer;
    padding-left: 18px
  }
  .tinytable .asc h3 {
    background: url(images/asc.gif) 5px no-repeat;
    cursor: pointer;
    padding-left: 18px
  }
  .tinytable .head:hover, .sortable .desc:hover, .sortable .asc:hover {
    color: $white
  }
  .tinytable .evenrow td {
    background: $white
  }
  .tinytable .oddrow td {
    background: $blue7
  }
  .tinytable td.evenselected {
    background: $blue7
  }
  .tinytable td.oddselected {
    background: $blue10
  }
  .tinytable tfoot {
    background: $white;
    font-weight: bold
  }
  .tinytable tfoot td {
    padding: 6px 8px 8px
  }

  #tablefooter {
    height: 15px;
    margin-top: 20px
  }
  #tablenav {
    float: left
  }
  #tablenav img {
    cursor: pointer
  }
  #tablenav div {
    float: left;
    margin-right: 15px
  }
  #tablelocation {
    float: right;
    font-size: 12px
  }
  #tablelocation select {
    margin-right: 3px
  }
  #tablelocation div {
    float: left;
    margin-left: 15px
  }
  .page {
    margin-top: 2px;
    font-style: italic
  }
  #selectedrow td {
    background: $blue9
  }

}