/* login page */

.login_table{
    font-size: 100%;
    border-bottom: 1px gray solid;
    margin-top: 100px;

}

.login_top_bar{
    background:url(../images/admin_login/login_top_bar.jpg) center no-repeat;
    height:35px;
    text-align: center;
    margin: 0;
    padding: 0;
    color:#FFFFFF;
    font-size: 14px;

}

.login_left_panel{
    border-left: 1px gray solid;
    border-top: 3px gray solid;
}

.login_right_panel{
    border-right: 1px gray solid;
    border-top: 3px gray solid;
}

.login_footer{
    border-left: 1px gray solid;
    border-right: 1px gray solid;
    text-align: center;
    padding-top: 20px;
    padding-bottom:10px;
}
