body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0; }

.msg_bar {
  font-weight: bold; }

.notify_icon {
  margin: 0px 5px 0px 5px; }

/* admin login page */
.login_table {
  margin: auto;
  /* so that the login box will float in the center of the page */
  margin-top: 100px;
  width: 500px;
  border-bottom: 1px gray solid; }
  .login_table .login_table_top_bar {
    background: url(../images/login_top_bar.jpg) center no-repeat;
    height: 35px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 14px; }
  .login_table .login_table_left_panel {
    border-left: 1px gray solid;
    border-top: 3px gray solid; }
  .login_table .login_table_right_panel {
    border-right: 1px gray solid;
    border-top: 3px gray solid; }
  .login_table .login_table_footer {
    border-left: 1px gray solid;
    border-right: 1px gray solid;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px; }
  .login_table .login_table_label {
    width: 100px;
    font-size: 11px;
    text-align: right;
    font-weight: bold; }
  .login_table .login_table_input {
    width: 200px; }

/* admin cp page top header bar */
.top_header_bar {
  background: url(../images/top_bar.jpg) repeat;
  height: 50px; }
  .top_header_bar span.product_title {
    color: #FFFFFF;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 15px;
    float: left; }
  .top_header_bar span.product_title_version {
    color: #FFFFFF;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 20px;
    float: left; }
  .top_header_bar .top_header_bar_nav {
    float: right;
    color: #FFFFFF;
    margin-top: 5px;
    margin-right: 10px; }
    .top_header_bar .top_header_bar_nav a {
      color: #FFFFFF; }

/* admin top menu */
.admin_top_menu_container {
  font: 15px 'Trebuchet MS', helvetica, arial, verdana;
  color: #333;
  line-height: 1.5;
  text-align: left;
  height: 35px;
  min-width: 1000px;
  width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border-top: 5px gray solid;
  border-bottom: 1px gray solid;
  /* fist line style for IE7 and non-IE browsers and the second line for IE5.5 and IE6 */ }
  .admin_top_menu_container .menu {
    text-align: left;
    font-family: verdana, sans-serif;
    font-size: 0.85em;
    background: transparent;
    width: 100%;
    height: 30px;
    margin: 0;
    float: left;
    margin-top: 5px; }
  .admin_top_menu_container .menu img {
    border: 0px; }
  .admin_top_menu_container .menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
  .admin_top_menu_container .menu ul li {
    float: left;
    position: relative;
    width: 150px; }
  .admin_top_menu_container .menu ul li a, .admin_top_menu_container .menu ul li a:visited {
    display: block;
    text-decoration: none;
    width: 150px;
    height: 30px;
    color: #000;
    padding-left: 10px;
    line-height: 29px; }
  .admin_top_menu_container * html .menu ul li a,
  .admin_top_menu_container .menu ul li a:visited {
    width: 150px; }
  .admin_top_menu_container .menu ul li ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    z-index: 200; }
  .admin_top_menu_container .menu ul li:hover a, .admin_top_menu_container .menu ul li a:hover {
    color: blue;
    text-decoration: none;
    border: 0; }
  .admin_top_menu_container .menu ul li:hover ul, .admin_top_menu_container .menu ul li a:hover ul {
    visibility: visible;
    width: 200px;
    height: auto;
    position: absolute;
    top: 30px;
    left: -1px;
    background: #fff;
    border: 1px solid gray;
    overflow: visible;
    text-decoration: none; }
  .admin_top_menu_container .menu ul li:hover ul li a,
  .admin_top_menu_container .menu ul li a:hover ul li a {
    display: block;
    background: transparent;
    text-decoration: none;
    color: #000;
    height: auto;
    line-height: 1.5em;
    padding: 5px 10px 5px 15px;
    width: 200px; }
  .admin_top_menu_container .menu ul li:hover ul li a.drop,
  .admin_top_menu_container .menu ul li a:hover ul li a.drop {
    display: block;
    color: #000;
    height: auto;
    line-height: 1.5em;
    padding: 5px 10px 5px 35px;
    width: 200px;
    text-decoration: none; }
  .admin_top_menu_container .menu ul li:hover ul li ul,
  .admin_top_menu_container .menu ul li a:hover ul li a ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    text-decoration: none; }
  .admin_top_menu_container .menu ul li:hover ul li a:hover,
  .admin_top_menu_container .menu ul li a:hover ul li a:hover {
    color: #00f;
    text-decoration: none; }
  .admin_top_menu_container .menu ul li:hover ul li:hover ul,
  .admin_top_menu_container .menu ul li a:hover ul li a:hover ul {
    visibility: visible;
    position: absolute;
    top: 0;
    color: #000;
    left: 166px;
    height: auto;
    border: 1px solid gray; }
  .admin_top_menu_container .menu ul li:hover ul li:hover ul.left,
  .admin_top_menu_container .menu ul li a:hover ul li a:hover ul.left {
    left: -166px; }
  .admin_top_menu_container .menu ul li:hover ul li:hover ul li a,
  .admin_top_menu_container .menu ul li a:hover ul li a:hover ul li a {
    display: block;
    color: #00f;
    height: auto;
    line-height: 1.5em;
    padding: 5px 10px 4px 35px;
    width: 200px; }
  .admin_top_menu_container * html .menu ul li a:hover ul li a:hover ul li a {
    padding: 4px 10px 4px 35px; }
  .admin_top_menu_container .menu ul li:hover ul li:hover ul li:hover a,
  .admin_top_menu_container .menu ul li a:hover ul li a:hover ul li a:hover {
    color: #000;
    text-decoration: underline; }

/* admin cp footer */
.footer {
  width: 100%;
  min-width: 1000px;
  height: 20px;
  border-top: 1px solid gray;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  bottom: 0; }
